@{
    var title = "Danh sách loại chó nghiệp vụ";
    ViewData["Title"] = title;
    var breadcrum = new Dictionary<string, string>();
    breadcrum.Add("/InputInfo", title);

    ViewBag.Breadcrumb = new List<string> { "Danh sách Loại chó nghiệp vụ", "Loại chó nghiệp vụ" };
    ViewData["PageHeaderContent"] = "InputInfo";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
}
@using ESD.Application.Models.ViewModels.ESDNghiepVu
@using ESD.Domain.Models.ESDNghiepVu
@using ESD.Utility.Helper;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model VMIndexLoaiChoNghiepVu
@{
    var searchParam = Model.SearchParam;
}
<div class="container pt-30">
    <div class="box-wrap-cs mb-15 dataTables_wrapper">
        <form asp-action="SearchByCondition" id="frmLoaiChoNghiepVu" role="form" method="post" class="quickSearch" data-target="#divLoaiChoNghiepVus">
            <div class="row row-ip">
                <div class="col-md-4 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-8 col-ip-12">
                    <div class="pull-right input-group-sm mb-3">
                        
                         <div class="col-xs-12">
                            @Html.CustTexBox("srKeyword", "Keyword", @searchParam.Keyword, "", "Tên/mã loại chó", false, new { }, false)
                        </div>

                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>
                        
                        <a class="btn-icon-search quickDeletes ml-28 text-danger actMultiTicks hidden" data-url="/LoaiChoNghiepVu/Deletes" tabindex="0" data-comfirm-message="Xoá nhiều loại chó nghiệp vụ:Bạn có muốn xoá {n} loại chó nghiệp vụ đã chọn?" title="Xóa">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="btn-icon-search quickUpdate ml-5 text-success" tabindex="0" href="/LoaiChoNghiepVu/Create" data-target="#mdIULoaiChoNghiepVu" aria-controls="data_table" title="Thêm mới">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div id="divLoaiChoNghiepVus">
                    @await Html.PartialAsync("Index_LoaiChoNghiepVus", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <div class="modal fade" id="mdIULoaiChoNghiepVu" aria-labelledby="LoaiChoNghiepVuModalTitle" aria-hidden="true"></div>
    <script src="~/js/controller/LoaiChoNghiepVuController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        InitLoaiChoNghiepVu();
    </script>

}


