@model ESD.Application.Models.ViewModels.VMResetPassword
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-4">
    <div class="login-background">
        <img src="~/lib/adminLte/dist/assets/bg-page-left.jpg" />
    </div>
    <div class="login-info">
        <h1 class="login-logo">
            <a href="javascript:void(0)" title="FSI Vietnam">
                <svg width="112" height="60" viewBox="0 0 56 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#ED1C24" d="M23.9668 0H11.853C8.19681 0 4.84227 2.79205 3.99447 6.32593L0 29.1189H4.04745C6.2118 29.1148 8.27425 27.4029 8.73076 25.2589L10.0065 17.9873H16.8379C18.9819 17.9873 21.0239 16.3039 21.509 14.1885L22.0307 11.1764H11.2008L11.7592 8.00524H19.0349C20.9302 7.80144 22.6625 6.32593 23.1964 4.46728L23.9668 0Z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#00A651" d="M45.329 0H45.0396C39.0194 0 37.3156 0 31.2954 0C27.7696 0 24.5496 3.04476 23.9504 6.79467L23.2494 11.1682C22.6502 14.9181 24.8757 17.9873 28.4218 17.9873H34.4094L33.9081 21.1177H25.3648C23.3757 21.1218 21.4804 22.8133 21.0483 24.945L20.3799 29.1189C31.2791 29.1189 23.5143 29.1189 34.4135 29.1189C37.9515 29.1189 41.1552 26.0863 41.7584 22.3242L42.4514 17.971C43.0464 14.2415 40.7965 11.1764 37.2789 11.1764H31.2954L31.8049 8.00524H40.3481C42.325 8.00524 44.2122 6.32593 44.6565 4.21049L45.329 0Z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" fill="#2E3192" d="M56 0H52.0096C49.8656 0 47.8236 1.68338 47.3385 3.79882L42.8998 29.1189H46.9432C49.0871 29.1148 51.0762 27.4355 51.5613 25.32L56 0Z"></path>
                </svg>
            </a>
        </h1>
        <h2 class="login-title">
            <small>Hệ thống quản lý</small>
            <br />
            <span class="text-success">Lưu trữ điện tử</span>
        </h2>
    </div>
</div>
<div class="col-8">
    <div class="login-background bg-success">
        <img src="~/lib/adminLte/dist/assets/bg-page-right.svg" />
    </div>
    <div class="login-form text-center">
        <div class="login-box">
            <div class="card">
                <div class="card-body login-card-body">
                    <h3 class="login-box-msg mt-2">Thông tin tài khoản</h3>

                    @using (Html.BeginForm("ResetPasswordAction", "Account", FormMethod.Post, new { @role = "form", @class = "col-md-12" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" asp-for="Token" value="@ViewData["Token"]" />
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input asp-for="Password" class="form-control" type="password" placeholder="Mật khẩu mới" />
                        </div>
                        <div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Xác nhận mật khẩu mới" />
                        </div>
                        <div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <p class="mb-3">
                            <button type="button" data-url="/Account/ResetPasswordAction" class="btn btn-block btn-danger quickSubmitChangPwd">Lấy lại mật khẩu</button>
                        </p>
                    }
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
        <div class="login-footer">
            <h4 class="mb-2">Công ty CPĐT TM và PT công nghệ FSI</h4>
            <p>Địa chỉ: Tầng 5, Tòa Lâm Viên, 107A Nguyễn Phong Sắc, Cầu Giấy, Hà Nội</p>
            <p>Điện thoại: <a href="tel:+84437675677" title="+844-3767 5677">+844-3767 5677(10-11)</a></p>
            <p>Website: <a href="fsivietnam.com.vn" title="fsivietnam.com.vn">fsivietnam.com.vn</a></p>
        </div>
    </div>
</div>
<div class="modal"></div>
@section scripts {
    <script src="~/js/Common.js"></script>
    <script src="~/js/controller/AccountController.js"></script>
    <script type="text/javascript">
        jQuery(function () { AccountConfig.OpenPopup() })
    </script>
}
