@{
    ViewData["Title"] = "Lỗi quyền truy cập";
    ViewData["PageHeaderContent"] = "ErrorPage";
    Layout = "/Views/Shared/_LayoutCus.cshtml";
    ViewBag.Menu = "none";
}
<h1 class="text-danger"></h1>
<h2 class="text-danger pt-30 text-center">Bạn không có quyền truy cập chức năng này</h2>
