@using ESD.Utility;
@using ESD.Domain.Enums;
@using ESD.Application.Models.ViewModels;
@using ESD.Domain.Models.DAS;
@model ESD.Application.Models.ViewModels.PaginatedList<VMOrgan>
@{
    var pageSizes = new[] { 10, 20, 30, 50, 100 };
}

@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-borderless table-space table-hover dataTable table-bid-custom dtr-inline useTreegrid" role="grid" data-tree="2">
            <thead class="thead-light">
                <tr class="elevation-1">
                    <th class="text-center col-min py-2 col-min font-s-14 font-weight-500 text-body-title p-l-r-12">STT</th>
                    <th class="m-w-100-px font-s-14 font-weight-500 text-body-title p-l-r-12">Mã cơ quan</th>
                    <th class="m-w-200-px font-s-14 font-weight-500 text-body-title p-l-r-12">Tên cơ quan</th>
                    <th class="m-w-200-px font-s-14 font-weight-500 text-body-title p-l-r-12">Mô tả</th>
                    <th class="m-w-50-px font-s-14 font-weight-500 text-body-title p-l-r-12">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @{ int stt = Model.PageSize * (Model.PageIndex - 1);}
                @foreach (var item in Model)
                {
                    stt++;
                    <tr>
                        <td>@stt</td>
                        <td>@Html.DisplayFor(modelItem => item.Code)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td class="font-s-13 text-color-4545 p-b-t-16">
                            <div class="d-flex is-btn-action">
                                <a title="Xem chi tiết" class="quickUpdate"
                                href="/Organ/DetailPopup?id=@item.ID" data-target="#planCreateModal" data-toggle="tooltip">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a title="Sửa" class="quickUpdate"
                                href="/Organ/EditPopup?id=@item.ID" data-target="#planCreateModal" data-toggle="tooltip">
                                    <i class="fas fa-fw fa-edit"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@await Html.PartialAsync("_PagingFooter", Model, new ViewDataDictionary(this.ViewData) { { "TargetForm", "frmOrgan" } })
