@using ESD.Application.Models.ViewModels;
@model ESD.Application.Models.ViewModels.PaginatedList<VMOrgan>
@{
    ViewData["Title"] = "Quản trị hệ thống";
    ViewData["PageHeaderContent"] = "Roles";
    ViewBag.BreadcrumbMenu = "Quản trị hệ thống";
    ViewBag.Breadcrumb = new List<string> { "Quản trị hệ thống" };
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
}
<div class="container pt-30">
    <div class="box-wrap-cs mb-15">
        <form asp-action="SearchByCondition" id="frmOrgan" role="form" method="post" class="quickSearch" data-target="#divSchemaInfos">
            <div class="row row-ip">
                <div class="col-md-6 align-items-center d-flex col-ip-12">
                    <p class="is-header-table-search"><span>@ViewData["Title"]</span></p>
                </div>
                <div class="col-md-6 col-ip-12">
                    <div class="input-group input-group-sm mb-3">
                        <input type="search" name="Keyword" value="@ViewBag.Keyword" class="form-control" placeholder="Nhập tên cơ quan">
                        <button type="submit" class="btn btn-sm btn-primary ml-5">Tìm kiếm</button>
                        
                        <a class="btn-icon-search quickUpdate ml-5 text-success" tabindex="0" href="/Organ/CreatePopup" data-target="#planCreateModal" aria-controls="data_table" title="Thêm mới">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a class="quickExport ml-5" action="/Organ/Export" data-target="#frmOrgan" aria-controls="data_table" title="Xuất Excel">
                            <i class="bid-icons bid-icon-csv"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <div class="card card-danger card-outline card-outline-tabs rounded-0 border-0 elevation-0 bg-transparent mt-15">
            <div class="card-body p-0">
                <div id="dataTables_wrapper" class="dataTables_wrapper">
                    <div id="divOrgans">
                        @await Html.PartialAsync("_IndexOrgan", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <div class="modal fade popup-modal" id="planCreateModal" tabindex="-1" role="dialog" aria-labelledby="planCreateModalTitle" aria-hidden="true"></div>
    <script src="~/js/controller/OrganController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        OrganConfig.Init();
    </script>
}

