@using ESD.Domain.Enums;
@using ESD.Utility;
@using ESD.Utility.Helper;
@model ESD.Application.Models.ViewModels.VMEditTeam
@{
    var groupPers = (ViewBag.ListGroupPer as List<SelectListItem>) ?? new List<SelectListItem>();
    var users = (ViewBag.ListUser as List<SelectListItem>) ?? new List<SelectListItem>();
    var cates = (ViewBag.ListCate as List<SelectListItem>) ?? new List<SelectListItem>();
}

<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <form role="form" class="modal-content onUpdateInputState" id="planCreateForm">
        <div class="modal-header d-flex align-items-center">
            <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">Chỉnh sửa nhóm người dùng</h5>
            <span class="w-h-32 icon-exit-white ml-auto" data-dismiss="modal" aria-hidden="true"></span>
        </div>
        <div class="modal-body">
            <input asp-for="ID" type="hidden" class="form-control" />
            <div class="form-group row">
                <label class="col-sm-4 col-form-label input-required" asp-for="Name"></label>
                <div class="col-sm-8">
                    <input asp-for="Name" class="form-control font-s-13" placeholder="Tên nhóm người dùng" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <label asp-for="IDGroupPerStrs" class="col-form-label"></label>
                        <div class="col-form-label custom-control custom-checkbox ml-2">
                            <input class="custom-control-input font-s-13" type="checkbox" id="ckAllGroupPers" />
                            <label for="ckAllGroupPers" class="custom-control-label custom-label-square">Tất cả</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    @Html.CusDropdownListSelect2("IDGroupPerStrs", "IDGroupPerStrs", null, groupPers, new { @class = "select2 w-100 is-select2-search", @data_placeholder = "Chọn nhóm quyền" }, isMultiple: true)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="IDUserStrs" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    @Html.CusDropdownListSelect2("IDUserStrs", "IDUserStrs", null, users, new { @class = "select2 w-100 is-select2-search", @data_placeholder = "Chọn người dùng" }, isMultiple: true)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="Description"></label>
                <div class="col-sm-8">
                    <textarea asp-for="Description" class="form-control font-s-13" placeholder="Mô tả" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary d-flex align-items-center quickSubmit" data-url="/Team/Update">
                <span class="text-white font-s-14">Lưu</span>
            </button>
            <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
            </button>
        </div>
    </form>
</div>
<script type="text/javascript">
    jQuery(function () { TeamsConfig.OpenPopup() })
</script>
