@using ESD.Application.Models.ViewModels.ESDNghiepVu
@using ESD.Domain.Models.ESDNghiepVu
@using Microsoft.AspNetCore.Mvc.Rendering;
@using ESD.Utility;
@using ESD.Utility.Helper;

@model VMUpdateTCDMTrangBiChoNV
@{
    var title = (Model.ID > 0 ? "Cập nhật" : "Thêm mới") + " tcdmtrangbichonv";
    ViewData["Title"] = title;
    ViewData["PageHeaderContent"] = title;
    Layout = "";
    var url = Model.ID > 0 ? "/TCDMTrangBiChoNV/Change" : "/TCDMTrangBiChoNV/Save";

    var isUpdate = Model.ID > 0;


}
<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
        <form role="form" asp-action="" class="onUpdateInputState bv-form" id="frmMDIUTCDMTrangBiChoNV">
            <div class="modal-header d-flex align-items-center">
                <h5 class="modal-title font-weight-bold font-s-16 text-white" id="planCreateModalTitle">@title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="w-h-32 icon-exit-white ml-auto" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
             
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="DanhMucDinhMuc"></label>
                    <div class="col-sm-9">
                        <input asp-for="DanhMucDinhMuc" class="form-control" />
                        <span asp-validation-for="DanhMucDinhMuc" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="Tu3Den4Thang_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="Tu3Den4Thang_DM" class="form-control" />
                        <span asp-validation-for="Tu3Den4Thang_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="Tu5Den10Thang_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="Tu5Den10Thang_DM" class="form-control" />
                        <span asp-validation-for="Tu5Den10Thang_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="Tren11Thang_DM_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="Tren11Thang_DM_DM" class="form-control" />
                        <span asp-validation-for="Tren11Thang_DM_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="ChoGiong_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="ChoGiong_DM" class="form-control" />
                        <span asp-validation-for="ChoGiong_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="ChuyenThuocNo_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="ChuyenThuocNo_DM" class="form-control" />
                        <span asp-validation-for="ChuyenThuocNo_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="ChuyenMaTuy_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="ChuyenMaTuy_DM" class="form-control" />
                        <span asp-validation-for="ChuyenMaTuy_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="ChuyenTimDauVet_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="ChuyenTimDauVet_DM" class="form-control" />
                        <span asp-validation-for="ChuyenTimDauVet_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="ChuyenGiamBiet_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="ChuyenGiamBiet_DM" class="form-control" />
                        <span asp-validation-for="ChuyenGiamBiet_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="ChuyenCuuNan_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="ChuyenCuuNan_DM" class="form-control" />
                        <span asp-validation-for="ChuyenCuuNan_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="NhapNoiTu30KgTrong12Thang_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="NhapNoiTu30KgTrong12Thang_DM" class="form-control" />
                        <span asp-validation-for="NhapNoiTu30KgTrong12Thang_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="NhapNoiTu30KgTu13Thang_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="NhapNoiTu30KgTu13Thang_DM" class="form-control" />
                        <span asp-validation-for="NhapNoiTu30KgTu13Thang_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="NhapNoiDuoi30Trong12Thang_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="NhapNoiDuoi30Trong12Thang_DM" class="form-control" />
                        <span asp-validation-for="NhapNoiDuoi30Trong12Thang_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="NhapNoiDuoi30Tu13Thang_DM"></label>
                    <div class="col-sm-9">
                        <input asp-for="NhapNoiDuoi30Tu13Thang_DM" class="form-control" />
                        <span asp-validation-for="NhapNoiDuoi30Tu13Thang_DM" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="DonViTinh"></label>
                    <div class="col-sm-9">
                        <input asp-for="DonViTinh" class="form-control" />
                        <span asp-validation-for="DonViTinh" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label required" asp-for="NienHan"></label>
                    <div class="col-sm-9">
                        <input asp-for="NienHan" class="form-control" />
                        <span asp-validation-for="NienHan" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button data-url="@url" class="btn bg-color-primary d-flex align-items-center quickSubmit">
                    <span class="text-white font-s-14">Lưu</span>
                </button>
                <button type="button" class="btn bg-color-gray-6 d-flex align-items-center" data-dismiss="modal">
                    <span class="font-s-14 text-color-body font-weight-500">Đóng</span>
                </button>

                <input type="hidden" value="@Model.ID" name="ID" />
                <input type="hidden" value="1" name="IsConfig" />
            </div>
        </form>
    </div>
</div>