<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <h3 class="mb-0 text-uppercase text-primary text-nowrap overflow-hidden">
                <i class="fas fa-fw fa-layer-group ml-2 mr-3"></i><span>Quản trị hệ thống</span>
            </h3>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link text-uppercase active">
                        <i class="nav-icon far fa-file-alt"></i>
                        <span>Quản lý danh mục</span>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/CategoryType" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Quản lý loại danh mục</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/doctype" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Cấu hình loại tài liệu</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-uppercase active">
                        <i class="nav-icon far fa-file-alt"></i>
                        <span>Quản trị hệ thống</span>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Team" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Quản lý nhóm người dùng</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/User" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Quản lý người dùng</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/GroupPermission" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Quản lý nhóm quyền</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/OrganConfig" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Cấu hình tham số</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/BackupAndRestore" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Sao lưu</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/SystemLog" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Nhật ký hệ thống</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/UserLog" class="nav-link">
                                <i class="far fa-file-alt nav-icon"></i>
                                <span>Nhật ký người dùng</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>